.button {
  outline: none;
  border: 0px;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}
.primary {
  background: #83c518;
  color: #fff;
}
.secondary {
  border: 1.6px solid #333333;
  background: #fff;
  color: #212121;
  padding: 10px 24px;
}
