$primary : #97C93D;

$white : #ffffff;
$black : #000000;
$grey : #F1F1F2;

$black1 : rgba(0,0,0,0.87);
$black2 : rgba(0,0,0,0.77);
$black3 : rgba(0,0,0,0.67);
$black4 : rgba(0,0,0,0.57);
$black5 : rgba(0,0,0,0.47);

$ongoing : #99D42C;
$upcoming : #319646;
$completed : #222021;